<form class="addNotes">
    <h4>Добавить заметку</h4>

    <label>
        Заголовок<br>
        <input>
    </label>

    <br>
    <br>

    <label>
        Текст заметки<br>
        <textarea></textarea>
    </label>

    <br><br>

    <button>Отправить</button>
</form>
