<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="http://urfu2015-notes.surge.sh/main.css" media="screen">
</head>
<body>
    {{> header/header }}
    <p>{{ message }}</p>
    {{> footer/footer }}
    <script src="http://urfu2015-notes.surge.sh/main.js"></script>
</body>
</html>
