<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="/main.bundle.css">
</head>
<body>
    {{> header/header }}
    <p>{{{ message }}}</p>
    {{> footer/footer }}

    <!--todo добавить переменную на путь статики-->
    <script src="http://urfu2015-notes.surge.sh/main.js"></script>
</body>
</html>
