<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ meta.description }}">

    {{#if isProduction}}
        <link rel="stylesheet" href="/main.bundle.css">
    {{/if}}

    {{#if isDev}}
        <script src="/live.js"></script>
    {{/if}}
</head>
<body>
    {{> header/header }}
    <p>{{{ message }}}</p>

    {{> addNotes/addNotes }}

    {{> footer/footer }}

    <script src="//yastatic.net/jquery/2.2.0/jquery.min.js"></script>
    <!--todo добавить переменную на путь статики-->
    <script src="/main.bundle.js"></script>
</body>
</html>
